@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5e3e3;
  color: #8d3c3c;
  font-family: "Arimo", sans-serif;
  font-size: 1.5rem;
}

header {
  padding: 1rem;
  color: #d37c7c;
  background-color: #a75252;
  text-align: center;
}

main {
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  color: #d37c7c;
  gap: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h2 {
  font-size: 2rem;
  color: #8d3c3c;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: #eab6b6;
}

input[type="text"],
input[type="password"],
input[type="date"] {
  width: 50%;
  padding: 0.6rem;
  border: 2px solid #eab6b6;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #eab6b6;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #eab6b6;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #eab6b6;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #eab6b6;
}
::placeholder {
  color: #eab6b6;
}

select {
  cursor: pointer;
  background-color: #eab6b6;
  color: #360505;
  border-radius: 3px;
  border: none;
  outline: none;
}

img {
  width: 5rem;
  border-radius: 3rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #a75252;
  color: #eab6b6;
  padding: 0.8rem;
}

tbody {
  background-color: #eab6b6;
  color: #8d3c3c;
  padding: 1rem;
  text-align: center;
}

tfoot {
  background-color: #d37c7c;
  color: #a75252;
  text-align: center;
}

details {
  background-color: #eab6b6;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

summary {
  color: #a75252;
  margin: 0.5rem;
}

ol {
  margin-left: 1.7rem;
}

ol li {
  padding: 0.1rem;
}

footer {
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
}

fieldset {
  border: 2px solid #d37c7c;
  padding: 1rem;
  border-radius: 5px;
}

legend {
  color: #d37c7c;
  padding: 0 0.5rem;
}

textarea {
  background-color: #eab6b6;
  outline: none;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid #d37c7c;
}

button {
  background-color: #eab6b6;
  border: none;
  padding: 0.6rem;
  color: #a75252;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  main {
    padding: 1.5rem;
  }

  input[type="text"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
  }
}
